.main {
    position: relative;
    height: 100%;
}

* {
    /* color: #525252; */
    margin:0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    letter-spacing: 0.05em;
    font-size: large;
}

.container {
    position: relative;
    left: 40px;
}