@import '~antd/dist/antd.css';
@import "./Style/TopBar.css";
@import "./Style/Main.css";
@import "./Style/Footer.css";


.site-layout-background {
    background: #f0f0f0;
}

.site-top-game-list ul {
    max-height: 700px;
    overflow-y: auto;
    overflow-x: hidden;
}