.header {
    grid-area: header;
    border-bottom: solid 1px #e5e5e5;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #f9fafc;
    /* color: white; */
    height: 50px;
    border-bottom: rgb(39, 47, 54);
  }
  
  .logo-container {
    display: flex;
    align-items: center;
    margin-left: 75px;
  }

  .logo-img {
    /* pointer-events: none; */
    height: 26px;
    width: 46px;
    margin-right: 5px;

  }

  .logo-text {
    /* flex: 1; */
    display: flex-block;
    align-items: center;
    text-align: center;
    font-weight: light;
    font-size: 15px;
    color: #010b0e;
    padding-left: 5px;
  }

  #name-bold {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: bolder;
    letter-spacing:0.1em;
    display: inline-block;
    height: 30px;
    line-height: 30px;
  }

  #name-medium {
    font-size: 16px;
    font-family: 'Dosis', sans-serif;
    font-weight: lighter;
    letter-spacing:0.1em;
    display: inline-block;
    height: 30px;
    line-height: 30px;
    text-align: center;
  }
  
  .logout {
    font-size: 20px;
    padding-right: 20px;
  }
  