.card{
    text-align: center;
    /*display: flex;*/
    align-items: center;
    /*justify-content: flex-start;*/
    height: 500px;
    margin: 20px auto 100px auto;
    width: 500px;
    box-shadow: 0 3px 3px 0 rgba(46, 49, 49, 1);

}

.main{
    background: #EAEBEA;

}
.text{
    font-size: 32px;
    margin-left: 20px;
    font-weight: bold;
    margin-right: 50px;
    margin-top: 1000px;

}
.text1{
    margin-top: 50px;
    font-size: 16px;
    margin-left: 117px;
    font-weight: 600;

}
.checkmark{

    margin-top: 20px;
    margin-left: 0;
    height: 120px;
    width: 120px;
}

.button1{
    margin-top: 90px;
    height: 45px;
    width: 250px;
    border: 1px solid black;
}
.button2{
    height: 45px;
    width: 250px;
    border: 1px solid black;
}
/*.logo{*/
/*    margin-top: 50px;*/
/*}*/